#equation{
    border-style: solid;
    width: 595px;
    height: 175px;
    font-size: 75px;
    text-align: right;
    word-wrap: break-word;
}

.row{
    display: flex;
}

#keypad{
    display: flex;
}

button{
    height: 150px;
    width: 150px;
    font-size: 50px;
}

.long{
    width: 300px;
}

#operations{
    display: flex;
    flex-direction: column;
}